// 颜色定义规范
$color-text = #fff
$color-text-d = rgb(87, 87, 87)
$color-text-bl = rgb(0, 0, 0)
$color-text-b = #3db2f9
$color-background = #f5fbff
$color-background-w = #fff
$color-background-b = #3db2f9
$color-background-g = #f1f1f1
$color-background-gg = #a5a2a2

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px